#update-contact {
  display: none;
}

.show-purchases {
  display: none;
}

#category-input {
  display: none;
}

.category {
  cursor: pointer;
  color: #08c;
}

.category:hover {
  text-decoration: underline;
}

